/* whitepaper theme */


/* global */

body {
	font-family: Verdana, arial, helvetica;
	-webkit-text-size-adjust: none;
	background-color: black;
	color: white;
	font-size: 120%;
}


a {
	color: cornflowerblue;
	text-decoration: none;
}

a:visited {
	color: cornflowerblue;
	text-decoration: none;
}

a:hover {
	color: cornflowerblue;
	text-decoration: underline;
}



/* standard layer */

.wrapper
{
	position: absolute;
	left :0 ;
	top :0;
	right:0;
	bottom:0;
}


.graphics {
	position: absolute;
	height: 50%;
	top: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding:10px;
	box-sizing: border-box;

}

.text {
	position: absolute;
	top: 52%;
	bottom:7%;
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
	padding: 10px 20px 10px 20px;
}

.input {
	position: absolute;
	height: 5%;
	bottom:0;
	box-sizing: border-box;
	width: 100%;
	padding: 0 10px 0 10px;
	background-color: black;
}

.prompt {
	border: none;
	margin: 5px 0 5px 0;
	outline:  none;
	width: 100%;
	font-size: 105%;	
	background-color: black;
	color: white;
}


.location_picture 
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	max-width: 100%;
	max-height: 100%;

}


.half_text
{
	top: 52%;
	bottom:7%;
}

.half_graphics
{
	height: 50%;
	top: 0;
}

.hidden
{
	height: 0%;
}

.feedback {
	color: cornflowerblue;
	text-shadow: 1px 1px 1px #000;
	text-transform: uppercase;
}

.all_text 
{
	top: 0;
	bottom: 7%;
}

/* input placeholder */

::-webkit-input-placeholder { color:#777; }
::-moz-placeholder { color:#777; } /* firefox 19+ */
:-ms-input-placeholder { color:#777; } /* ie */
input:-moz-placeholder { color:#777; }



/* block layer */

.block_layer 
{
	position: absolute;
	left :0 ;
	top :0;
	bottom: 0;
	right: 0;
	display: none;
	z-index:1000;
	background-color: black;
}



.block_layer .block_graphics {
	position: absolute;
	width: 100%;
	height:50%; 
	top: 0;
	display: block;
	background-color: black;
	box-sizing: border-box;
}

.block_picture
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.block_layer .block_text {
	position: absolute;
	top: 52%;
	bottom:0;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	display: block;
	padding: 10px;
	background-color: black;
}

/* transcript layer */

.transcript_layer {
	position: absolute;
	left :0 ;
	top :0;
	bottom: 0;
	right: 0;
	display: none;
	z-index:1001;
	overflow:scroll;
	background-color: black;
	
}

#transcript_area {
	height:100%; 
	width:100%;
	overflow:scroll;
	box-sizing: border-box;
	padding: 10px;
}

.textpic {
	float:left
	margin: 25px;
}

.anykey_layer {
	position:absolute;
	left: 0;
	top:0;
	bottom:0;
	right:0;
	background-color: transparent;
	z-index: 2000;
	display: none;
}



@media (max-width: 1024px) {

	body {
		font-size: 300%;
	}

	.graphics {
		position: relative;
	}
	.text  {
		position: relative;
		top: auto;
		bottom: auto;
		height: auto;
	}

	.input  {
		position: relative;
		top: auto;
		bottom: auto;
	}


.half_text
{
	top: auto;
	bottom: auto;
	height: auto;
}


.hidden
{
	height: 0%;
}


.all_text 
{
	top: auto;
	bottom: auto;
	height: auto;

}

.wrapper {
	height: auto;
	max-height: auto;
	overflow: auto;
}
	
}